# Some data analyzing

In [38]:
import pandas as pd
import os

df_b: pd.DataFrame = pd.read_excel(os.path.join("QPU IBM Brisbane.xlsx"))
df_t: pd.DataFrame = pd.read_excel(os.path.join("QPU IBM Torino.xlsx"))
df_s: pd.DataFrame = pd.read_excel(os.path.join("Simulador.xlsx"))

In [39]:
df_b.sort_values(by="Frecuencia", ascending=False)

     Número  Frecuencia
48       48          34
112     112          32
68       68          31
44       44          30
180     180          30
..      ...         ...
138     138           6
123     123           5
47       47           5
13       13           5
137     137           5

[256 rows x 2 columns]

In [40]:
df_t.sort_values(by="Frecuencia", ascending=False)

     Número  Frecuencia
68       68          41
64       64          41
192     192          41
160     160          41
195     195          38
..      ...         ...
221     221           4
255     255           4
253     253           4
189     189           3
252     252           3

[256 rows x 2 columns]